body {
  font-family: Arial, Helvetica, sans-serif;
}

.icons-inner{
    height: 500px;
    width: 95px;
    align-items: center;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
}

.icons-inner::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 700px) {
  .cus-width{
    width: 500px;
  }
}

@media only screen and  (max-width: 700px) {
  .cus-width{
    width: 300px;
  }
}
